[submodule "modules/lhscriptutil"]
	path = modules/lhscriptutil
	url = https://github.com/fbuonaro/lhscriptutil.git
	branch = release/v/1.0.0
[submodule "modules/lhmiscutil"]
	path = modules/lhmiscutil
	url = https://github.com/fbuonaro/lhmiscutil.git
	branch = master
[submodule "modules/lhsslutil"]
	path = modules/lhsslutil
	url = https://github.com/fbuonaro/lhsslutil.git
	branch = master
